__pycache__/
*.py[cod]
.env
*.db
*.sqlite
*.sqlite3
*.log

resumos/*
!resumos/.gitkeep

backups/*
!backups/.gitkeep

data/*
!data/.gitkeep

assets/assinaturas/*
!assets/assinaturas/.gitkeep

.vscode/
.idea/
.DS_Store
Thumbs.db
